<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554563269282-bqqojateks5r5653n2o523b0og11erqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554563269282-bqqojateks5r5653n2o523b0og11erqf</string>
	<key>API_KEY</key>
	<string>AIzaSyAP3Pa1v3ygygT82mtc0k8bEIaFaIHSF0k</string>
	<key>GCM_SENDER_ID</key>
	<string>554563269282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cyclingRoutePlanner</string>
	<key>PROJECT_ID</key>
	<string>cycling-route-planner-e0c20</string>
	<key>STORAGE_BUCKET</key>
	<string>cycling-route-planner-e0c20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554563269282:ios:b1908bdb643b1011659dfb</string>
</dict>
</plist>